
@import '../../variables.scss';

.item-status-filter {
  button {
    height: 32px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    color: #fff;
    background: transparent;
    &:focus,
    &.active {
      position: relative;
      z-index: 1;
      outline: none;
      border-color: $primary;
    }
  }
}