
@import '../../variables.scss';

.search-panel {
  flex-grow: 1;
  margin-right: 10px;
  &-input {
    height: 32px;
    width: 100%;
    border: none;
    background-color: transparent;
    transition: $transition;
    color: #fff;
    font-size: $fz-18;
    border-bottom: 2px solid transparent;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid #fff;
    }
  }
}