
// variables

// colors
$primary: #30d5c8;
$tomato: tomato;
$dark-grey: #333;
$light-grey: lighten($dark-grey, 12%);

$transition: .2s all;

//fonts
$fz-regular: 'Open Sans Regular';
$fz-light: 'Open Sans Regular';

// radius
$r-5: 5px;

// font-sizes
$fz-24: 24px;
$fz-20: 20px;
$fz-18: 18px;